
        body {
            background-color: #40E0D0;
        }

        nav{
            list-style-type: none;
            margin: 0;
            padding: 0;
          }

        hr {

            border-style: none;
            border-top: dotted;
            border-color: gray;
            border-width: 10px;
            width: 10%;

        }
        h1 {
            color:#790252;
            
        }
        h3 {
            color:#790252;
            
        }
        img {
            border-color: green;
        }
        
        
   